<%- include("partials/nav"); -%> <%- include("partials/DashComp"); -%>

<div class="container" style="margin-top: 2%;">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="jumbotron jumbotron-fluid post-box">
                    <div class="container">

                        <div style="border-radius: 28px; background-color:#202040;" class="jumbotron">
                            <h3 style="text-align: center; font-weight: 900; color: #fff;">
                                <%=Name%>
                            </h3>
                        </div>


                    </div>



                    <%- include("partials/tagPosts"); -%>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer"); -%>